{% comment %}
Every Mandelbot must have a unique id:

  id (example: mandelbot1)

Mandelbots may also have the following properties:

  widthView (default: 200)
  heightView (default: 200)
  widthGrid (default: widthView)
  heightGrid (default: heightView)
  widthStyle (default: auto)
  heightStyle (default: auto)
  xCenter (default: undefined)
  yCenter (default: undefined)
  xDistance (default: undefined)
  yDistance (default: xDistance)
  bigNumbers (default: false)
  colorScheme (default: undefined)
  idStatus (default: empty string)

Any property definition in the include tag overrides that property definition in the Front Matter.

{% endcomment %}
{% assign mandelbot = nil %}
{% for m in page.mandelbots %}
  {% if include.id == m.id %}
    {% assign mandelbot = m %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign id = include.id | default: 'default' %}
{% assign widthView = include.widthView | default: mandelbot.widthView | default: '200' %}
{% assign heightView = include.heightView | default: mandelbot.heightView | default: '200' %}
{% assign widthGrid = include.widthGrid | default: mandelbot.widthGrid | default: widthView %}
{% assign heightGrid = include.heightGrid | default: mandelbot.heightGrid | default: heightView %}
{% assign widthStyle = include.widthStyle | default: mandelbot.widthStyle | default: 'auto' %}
{% assign heightStyle = include.heightStyle | default: mandelbot.heightStyle | default: 'auto' %}
{% capture viewStyle %}width: {{widthStyle}}; height: {{heightStyle}}{% endcapture %}
{% assign xCenter = include.xCenter | default: mandelbot.xCenter | default: 'undefined' %}
{% assign yCenter = include.yCenter | default: mandelbot.yCenter | default: 'undefined' %}
{% assign xDistance = include.xDistance | default: mandelbot.xDistance | default: 'undefined' %}
{% assign yDistance = include.yDistance | default: mandelbot.yDistance | default: xDistance %}
{% assign colorScheme = include.colorScheme | default: mandelbot.colorScheme | default: 'undefined' %}
{% assign idStatus = include.idStatus | default: mandelbot.idStatus | default: '' %}
{% assign bigNumbers = include.bigNumbers | default: mandelbot.bigNumbers | default: 'false' %}
{% capture parms %}"{{ id }}",{{ widthGrid }},{{ heightGrid }},{{ xCenter }},{{ yCenter }},{{ xDistance }},{{ yDistance }},{{ bigNumbers }},{{ colorScheme }},"{{ idStatus }}"{% endcapture %}
<canvas class="mandelbot-view" id="{{ id }}" width="{{ widthView }}" height="{{ heightView }}" style="{{ viewStyle }}"></canvas>
{% if idStatus != '' %}
<p class="mandelbot-status" id="{{ idStatus }}">No status</p>
{% endif %}
<script type="text/javascript">initMandelbot({{ parms }});</script>
