{% comment %}

Every Mandelbot must have a unique id:

  id (example: mandelbot1)

Mandelbots may also have the following properties:

  widthView (default: 200)
  heightView (default: 200)
  widthGrid (default: widthView)
  heightGrid (default: heightView)
  widthStyle (default: auto)
  heightStyle (default: auto)
  xCenter (default: -0.75)
  yCenter (default: 0)
  dxCenter (default: 1.5)
  dyCenter (default: dxCenter)
  bigNumbers (default: false)
  colorScheme (default: Mandelbot.COLOR_SCHEME.GRAY)
  idStatus (default: "")
  idDebug (default: "")
  idReset (default: "")
  idPrevious (default: "")

Any property definition in the include tag overrides that property definition in the Front Matter.

{% endcomment %}

{% assign mandelbot = nil %}
{% for m in page.mandelbots %}
  {% if include.id == m.id %}
    {% assign mandelbot = m %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign idView = include.id | default: 'default' %}
{% assign widthView = include.widthView | default: mandelbot.widthView | default: '200' %}
{% assign heightView = include.heightView | default: mandelbot.heightView | default: '200' %}
{% assign widthGrid = include.widthGrid | default: mandelbot.widthGrid | default: widthView %}
{% assign heightGrid = include.heightGrid | default: mandelbot.heightGrid | default: heightView %}
{% assign widthStyle = include.widthStyle | default: mandelbot.widthStyle | default: 'auto' %}
{% assign heightStyle = include.heightStyle | default: mandelbot.heightStyle | default: 'auto' %}
{% capture viewStyle %}width: {{widthStyle}}; height: {{heightStyle}}{% endcapture %}
{% assign xCenter = include.xCenter | default: mandelbot.xCenter | default: 'undefined' %}
{% assign yCenter = include.yCenter | default: mandelbot.yCenter | default: 'undefined' %}
{% assign dxCenter = include.dxCenter | default: mandelbot.dxCenter | default: 'undefined' %}
{% assign dyCenter = include.dyCenter | default: mandelbot.dyCenter | default: dxCenter %}
{% assign bigNumbers = include.bigNumbers | default: mandelbot.bigNumbers | default: 'false' %}
{% assign colorScheme = include.colorScheme | default: mandelbot.colorScheme | default: 'undefined' %}
{% assign idStatus = include.idStatus | default: mandelbot.idStatus | default: '' %}
{% assign idDebug = include.idDebug | default: mandelbot.idDebug | default: '' %}
{% assign idReset = include.idReset | default: mandelbot.idReset | default: '' %}
{% assign idPrevious = include.idPrevious | default: mandelbot.idPrevious | default: '' %}
{% capture parms %}{{ widthGrid }},{{ heightGrid }},{{ xCenter }},{{ yCenter }},{{ dxCenter }},{{ dyCenter }},{{ bigNumbers }},{{ colorScheme }},"{{ idView }}","{{ idStatus }}"{% endcapture %}

<canvas class="mandelbot-view" id="{{ idView }}" width="{{ widthView }}" height="{{ heightView }}" style="{{ viewStyle }}"></canvas>

{% if idDebug != '' and site.developer == true %}<button id="{{ idDebug }}" type="button">Debug</button>{% endif %}
{% if idReset != '' %}<button id="{{ idReset }}" type="button">Reset</button>{% endif %}
{% if idPrevious != '' %}<button id="{{ idPrevious }}" type="button" disabled="disabled">Previous</button>{% endif %}

{% if idStatus != '' %}<p class="mandelbot-status" id="{{ idStatus }}">No status</p>{% endif %}

<script type="text/javascript">
  var mandelbot = newMandelbot({{ parms }});
  if (mandelbot) {
    {% if idDebug != '' and site.developer == true %}mandelbot.addControl(Mandelbot.CONTROL_DEBUG, "{{ idDebug }}");{% endif %}
    {% if idReset != '' %}mandelbot.addControl(Mandelbot.CONTROL_RESET, "{{ idReset }}");{% endif %}
    {% if idPrevious != '' %}mandelbot.addControl(Mandelbot.CONTROL_PREVIOUS, "{{ idPrevious }}");{% endif %}
  }
</script>
