{% comment %}
Viewports must have the following properties:

  id (example: mandelbot1)

Viewports may also have the following properties:

  viewWidth (default: 200)
  viewHeight (default: 200)
  gridWidth (default: viewWidth)
  gridHeight (default: viewHeight)
  styleWidth (default: auto)
  styleHeight (default: auto)
  xCenter (default: undefined)
  yCenter (default: undefined)
  xDistance (default: undefined)
  yDistance (default: xDistance)
  colorScheme (default: undefined)
  idStatus (default: empty string)

Any property definition in the include tag overrides that property definition in the Front Matter.

{% endcomment %}
{% assign view = nil %}
{% for viewport in page.viewports %}
  {% if include.id == viewport.id %}
    {% assign view = viewport %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign viewWidth = include.viewWidth | default: view.viewWidth | default: '200' %}
{% assign viewHeight = include.viewHeight | default: view.viewHeight | default: '200' %}
{% assign gridWidth = include.gridWidth | default: view.gridWidth | default: viewWidth %}
{% assign gridHeight = include.gridHeight | default: view.gridHeight | default: viewHeight %}
{% assign styleWidth = include.styleWidth | default: view.styleWidth | default: 'auto' %}
{% assign styleHeight = include.styleHeight | default: view.styleHeight | default: 'auto' %}
{% capture viewStyle %}width: {{styleWidth}}; height: {{styleHeight}}{% endcapture %}
{% assign xCenter = include.xCenter | default: view.xCenter | default: 'undefined' %}
{% assign yCenter = include.yCenter | default: view.yCenter | default: 'undefined' %}
{% assign xDistance = include.xDistance | default: view.xDistance | default: 'undefined' %}
{% assign yDistance = include.yDistance | default: view.yDistance | default: xDistance %}
{% assign colorScheme = include.colorScheme | default: view.colorScheme | default: 'undefined' %}
{% assign idStatus = include.idStatus | default: view.idStatus | default: '' %}
{% capture parms %}"{{ include.id }}",{{ gridWidth }},{{ gridHeight }},{{ xCenter }},{{ yCenter }},{{ xDistance }},{{ yDistance }},{{ colorScheme }},"{{ idStatus }}"{% endcapture %}
<canvas class="mandelbot-viewport" id="{{ include.id }}" width="{{ viewWidth }}" height="{{ viewHeight }}" style="{{ viewStyle }}"></canvas>
{% if include.idStatus %}
<p class="mandelbot-status" id="{{ idStatus }}">No status</p>
{% endif %}
<script type="text/javascript">initViewport({{ parms }});</script>
