---
---

@import '{{ site.theme }}';

html {
  font-family: sans-serif;
}

.mandelbot-rect {
  border: 1px solid black;
}

.mandelbot-circle {
}

#default {
  background-color: #ffffff;
  background-image: url(/assets/img/default.png);
  background-size: 100% auto;
}
